In [1]:
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
%matplotlib inline

import numpy as np
import pandas as pd
import sklearn

from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.preprocessing import RobustScaler
from sklearn.model_selection import cross_validate, cross_val_predict, cross_val_score
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import BaggingRegressor
from pyearth import Earth

import gc; gc.enable()

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv('sold_homes_model_validation_data.csv')

In [3]:
df.head()

,CITY,STATE OR PROVINCE,zipcode,price,bedrooms,bathrooms,sqft_living,yr_built,STATUS,lat,long,URL,SOLD DATE,ADDRESS
0,Federal Way,WA,98003,259900,2,1.75,1427,1978,Sold,47.331059,-122.334218,http://www.redfin.com/WA/Federal-Way/30242-1st...,February-21-2019,30242 1st Ave S
1,Issaquah,WA,98027,505000,2,1.75,1379,2010,Sold,47.559832,-122.092141,http://www.redfin.com/WA/Issaquah/18609-SE-New...,December-11-2019,18609 SE Newport Way #305
2,Redmond,WA,98052,732000,3,1.75,1710,1950,Sold,47.630877,-122.093475,http://www.redfin.com/WA/Redmond/18441-NE-24th...,March-29-2019,18441 NE 24th St
3,Federal Way,WA,98023,540000,6,2.75,3087,2014,Sold,47.296318,-122.350300,http://www.redfin.com/WA/Federal-Way/1103-SW-3...,October-23-2019,1103 SW 339th St
4,Seattle,WA,98199,1275000,4,3.50,3190,2006,Sold,47.648096,-122.385676,http://www.redfin.com/WA/Seattle/3052-23rd-Ave...,June-4-2019,3052 23rd Ave W

In [11]:
df['year'] = 2019

In [25]:
df = df[(df['bedrooms'] <= 5) & (df['bedrooms'] >= 1)]

In [33]:
df = df[df['zipcode'] <= 98199.0]

In [35]:
target = 'price'

In [36]:
real_cols = ['sqft_living', 'lat', 'long', 'year']
cat_cols = ['bedrooms', 'bathrooms', 'zipcode']
used_cols =  real_cols + cat_cols

In [37]:
X, y = df[used_cols], df[target]

In [15]:
from pygam.terms import s as spline
from pygam.terms import f as factor
from pygam.terms import te as tensor


# DEFINE TERMS:
#   * splines - for continuous
#   * factors - for categorical/discrete 
#        (assumption: label encoded w/ 0 to level_size-1)
#   * tensors - for any interactions

# create the term list
term_list = []
for i, col in enumerate(used_cols):
    if col in real_cols:
        term_list.append(spline(i))

# add the x1 and x2 interaction term
term_list.append(tensor(1, 2))
term_list.append(tensor(0, 1, 2))
term_list.append(tensor(4, 5))
term_list.append(tensor(1, 2, 6))



# term_list.append(tensor(7, 8, 10))
# term_list.append(tensor(0, 4))
# term_list.append(tensor(0, 1, 2, 3))




# factors
for i, col in enumerate(used_cols):
    if col in cat_cols:
        term_list.append(factor(i))


# create the terms and model
terms = np.sum(term_list)
print(terms)
# gam = LinearGAM(terms=terms).gridsearch(X.values, y.values)
# gam.summary()

s(0) + s(1) + s(2) + s(3) + te(1, 2) + te(0, 1, 2) + te(4, 5) + te(1, 2, 6) + f(4) + f(5) + f(6)

In [16]:
from sklearn.externals import joblib

In [38]:
filename = 'low_col_gams.sav'
gam = joblib.load(filename)
y_preds = gam.predict(X)

In [41]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

print("mean absolute error test: " , mean_absolute_error(y_preds, df[target]))
print("r2 predict test: " , r2_score(y_preds, df[target]))

mean absolute error test:  98034.61878954165
r2 predict test:  0.7670243231921021