In [5]:
from selenium import webdriver
import sys

options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument('--incognito')
options.add_argument('--headless')
driver = webdriver.Chrome("/Users/carsonlloyd/Downloads/chromedriver", chrome_options=options)

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:8: DeprecationWarning: use options instead of chrome_options

In [6]:
driver.get("https://www.redfin.com/county/118/WA/King-County")
page_source = driver.page_source

In [7]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

url = "https://www.redfin.com/county/118/WA/King-County"
driver = webdriver.Chrome("/Users/carsonlloyd/Downloads/chromedriver", chrome_options=options)
driver.get(url)

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:7: DeprecationWarning: use options instead of chrome_options
  import sys

In [9]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(page_source)
#table = soup.findAll('div', class_='scrollContainer')
table = soup.find_all('body')

In [11]:
#print(soup.prettify())

In [46]:
ex = soup.find('body').findAll('div')[0].findAll('script')[13].text
ex

'[{"@context":"http://schema.org","name":"2115 57th St SE, Auburn, WA 98092","url":"/WA/Auburn/2115-57th-St-SE-98092/home/28582319","address":{"@type":"PostalAddress","streetAddress":"2115 57th St SE","addressLocality":"Auburn","addressRegion":"WA","postalCode":"98092","addressCountry":"US"},"numberOfRooms":"3","@type":"SingleFamilyResidence"},{"@context":"http://schema.org","@type":"Product","name":"2115 57th St SE, Auburn, WA 98092","offers":{"@type":"Offer","price":"474950","priceCurrency":"USD"},"url":"/WA/Auburn/2115-57th-St-SE-98092/home/28582319"}]'

In [19]:
_dict = ast.literal_eval(ex)
_dict[0]['address']['postalCode']

'98092'

In [20]:
_dict = ast.literal_eval(ex)
_dict[1]['offers']['price']

'474950'

In [22]:
import ast

_dict = ast.literal_eval(ex)
_dict

{'@context': 'http://schema.org',
 '@type': 'Event',
 'startDate': '2020-01-04T19:00:00.000Z',
 'endDate': '2020-01-04T21:00:00.000Z',
 'name': 'Open House - 11:00 - 1:00 PM',
 'url': 'https://www.redfin.com/WA/Seattle/114-16th-Ave-98122/unit-A/home/113703717',
 'description': 'Check out an open house at 114 16th Ave Unit A.',
 'offers': {'@type': 'offer',
  'price': 785000,
  'priceCurrency': 'USD',
  'availability': 'http://schema.org/InStock',
  'URL': 'https://www.redfin.com/WA/Seattle/114-16th-Ave-98122/unit-A/home/113703717',
  'validFrom': '2020-01-04T19:00:00.000Z'},
 'performer': {'@type': 'Thing', 'name': 'Jessie Culbert Boucher'},
 'location': {'@type': 'Place',
  'name': '114 16th Ave Unit A',
  'geo': {'@type': 'GeoCoordinates',
   'latitude': 47.6022096,
   'longitude': -122.3115249},
  'address': {'@type': 'PostalAddress',
   'streetAddress': '114 16th Ave Unit A',
   'addressLocality': 'Seattle',
   'postalCode': '98122',
   'addressRegion': 'WA'}}}

In [23]:
_dict['offers']['price']

785000

In [24]:
_dict['location']['address']['postalCode']

'98122'

In [25]:
_dict['location']['geo']['latitude']
_dict['location']['geo']['longitude']

-122.3115249

In [26]:
t = 13
p = list(range(19))
price = []
zipcode = []
lat = []
long = []
for v in p:
    try:
        ex = soup.find('body').findAll('div')[0].findAll('script')[t].text
        _dict = ast.literal_eval(ex)
        price.append(_dict['offers']['price'])
        zipcode.append(_dict['location']['address']['postalCode'])
        lat.append(_dict['location']['geo']['latitude'])
        long.append(_dict['location']['geo']['longitude'])
        t = t + 2
    except:
        lat.append(None)
        long.append(None)
        price.append(_dict[1]['offers']['price'])
        zipcode.append(_dict[0]['address']['postalCode'])
        t = t + 2

In [27]:
price

['474950',
 785000,
 1136000,
 710000,
 642500,
 515000,
 '574950',
 '1150000',
 '437000',
 '579990',
 '530000',
 '599950',
 '625000',
 '617500',
 '425000',
 '450000',
 '385000',
 '385000',
 '385000']

In [28]:
lat

[None,
 47.6022096,
 47.6405322,
 47.776688,
 47.5887033,
 47.4289301,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [29]:
zipcode

['98092',
 '98122',
 '98119',
 '98028',
 '98144',
 '98058',
 '98031',
 '98053',
 '98109',
 '98092',
 '98007',
 '98030',
 '98121',
 '98058',
 '98103',
 '98006',
 '98133',
 '98133',
 '98133']

In [165]:
soup.find('body').findAll('div')[0].findAll('a')[24]

<a href="/WA/Auburn/2115-57th-St-SE-98092/home/28582319" target="_blank" title="2115 57th St SE, Auburn, WA 98092"><div class="bottomV2"><span class="homecardV2Price" data-rf-test-name="homecard-price">$474,950</span><div class="favoriteButtonV2"><div aria-checked="false" aria-label="favorite button" class="FavoriteExtension favoriteButtonV2 clickable fav-off" data-rf-test-id="favoriteExtension" role="checkbox"><svg class="SvgIcon favorite-actionable clickable favorite-icon"><svg viewbox="0 0 36 36"><path class="favorite-actionable-outline outline" d="M26.685 3.152c-2.787 0-5.904 1.183-8.538 4.327-2.635-3.145-5.751-4.327-8.54-4.327-2.046 0-3.915.637-5.285 1.605-3.238 2.286-4.749 7.092-2.886 11.662 2.413 5.919 14.655 15.018 16.482 16.352.071.051.15.077.229.077a.386.386 0 0 0 .228-.077c1.842-1.339 14.237-10.514 16.482-16.352 1.771-4.604.352-9.376-2.884-11.662-1.373-.969-3.243-1.605-5.288-1.605zm0 1.5c1.613 0 3.225.485 4.423 1.33 2.805 1.982 3.793 6.145 2.349 9.898-1.644 4.276-10.094 11.334-15.309 15.196-5.153-3.832-13.549-10.871-15.323-15.223-1.705-4.182-.102-8.131 2.363-9.871 1.196-.845 2.807-1.33 4.419-1.33 1.923 0 4.765.658 7.39 3.79l1.15 1.372 1.15-1.372c2.624-3.132 5.466-3.79 7.388-3.79"></path><path d="M26.685 4.652c1.613 0 3.225.485 4.423 1.33 2.805 1.982 3.793 6.145 2.349 9.898-1.644 4.276-10.094 11.334-15.309 15.196-5.153-3.832-13.549-10.871-15.323-15.223-1.705-4.182-.102-8.131 2.363-9.871 1.196-.845 2.807-1.33 4.419-1.33 1.923 0 4.765.658 7.39 3.79l1.15 1.372 1.15-1.372c2.624-3.132 5.466-3.79 7.388-3.79"></path></svg></svg></div></div><div class="HomeStatsV2 font-size-small"><div class="stats">3 Beds</div><div class="stats">2.5 Baths</div><div class="stats">2,242 Sq. Ft.</div></div><div class="homeAddressV2"><div class="addressDisplay font-size-smaller" data-rf-test-id="abp-homeinfo-homeaddress"><span data-rf-test-id="abp-streetLine">2115 57th St SE, Auburn, WA 98092</span></div></div><div class="brokerageDisclaimerV2"><div class="disclaimerV2" title="Listing provided by NWMLS">Listing provided by NWMLS</div></div><script type="application/ld+json">[{"@context":"http://schema.org","name":"2115 57th St SE, Auburn, WA 98092","url":"/WA/Auburn/2115-57th-St-SE-98092/home/28582319","address":{"@type":"PostalAddress","streetAddress":"2115 57th St SE","addressLocality":"Auburn","addressRegion":"WA","postalCode":"98092","addressCountry":"US"},"numberOfRooms":"3","@type":"SingleFamilyResidence"},{"@context":"http://schema.org","@type":"Product","name":"2115 57th St SE, Auburn, WA 98092","offers":{"@type":"Offer","price":"474950","priceCurrency":"USD"},"url":"/WA/Auburn/2115-57th-St-SE-98092/home/28582319"}]</script></div></a>

In [166]:
float(soup.find('body').findAll('div')[0].findAll('a')[24].findAll('div')[4].contents[0].replace(' Sq. Ft.', '').replace(',', '').replace(' Beds', '').replace(' Baths', ''))

3.0

In [196]:
x = 24
bbs = [4,5,6]
bedrooms = []
bathrooms = []
sqft = []
p = list(range(19))
for v in p:
    bedrooms.append(float(soup.find('body').findAll('div')[0].findAll('a')[x].findAll('div')[4].contents[0].replace(' Sq. Ft.', '').replace(',', '').replace(' Beds', '').replace(' Baths', '').replace(' Bed','').replace(' Bath','')))
    bathrooms.append(float(soup.find('body').findAll('div')[0].findAll('a')[x].findAll('div')[5].contents[0].replace(' Sq. Ft.', '').replace(',', '').replace(' Beds', '').replace(' Baths', '').replace(' Bed','').replace(' Bath','')))
    sqft.append(float(soup.find('body').findAll('div')[0].findAll('a')[x].findAll('div')[6].contents[0].replace(' Sq. Ft.', '').replace(',', '').replace(' Beds', '').replace(' Baths', '').replace(' Bed','').replace(' Bath','')))
    x = x + 3

In [30]:
import pandas as pd

In [185]:
zillowdf = pd.DataFrame()

In [186]:
zillowdf['bedrooms'] = bedrooms

In [187]:
zillowdf['bathrooms'] = bathrooms

In [188]:
zillowdf['sqft_living'] = sqft

In [189]:
zillowdf['price'] = price
zillowdf['zipcode'] = zipcode
zillowdf['lat'] = lat
zillowdf['long'] = long

In [190]:
zillowdf

    bedrooms  bathrooms  sqft_living    price zipcode        lat        long
0        3.0       2.50       2242.0   474950   98092        NaN         NaN
1        3.0       1.75       1360.0   785000   98122  47.602210 -122.311525
2        5.0       2.00       2480.0  1136000   98119  47.640532 -122.366597
3        4.0       2.50       2210.0   710000   98028  47.776688 -122.239202
4        3.0       1.75       1710.0   642500   98144  47.588703 -122.310853
5        3.0       2.75       2210.0   515000   98058  47.428930 -122.162640
6        5.0       2.50       2560.0   574950   98031        NaN         NaN
7        4.0       2.50       3044.0  1150000   98053        NaN         NaN
8        1.0       1.00        716.0   437000   98109        NaN         NaN
9        4.0       2.50       2876.0   579990   98092        NaN         NaN
10       3.0       2.50       1430.0   530000   98007        NaN         NaN
11       4.0       2.50       2530.0   599950   98030        NaN         NaN
12       2.0       1.75        885.0   625000   98121        NaN         NaN
13       4.0       2.50       2430.0   617500   98058        NaN         NaN
14       2.0       1.00        695.0   425000   98103        NaN         NaN
15       2.0       2.50       1360.0   450000   98006        NaN         NaN
16       2.0       1.75       1114.0   385000   98133        NaN         NaN
17       2.0       1.75       1128.0   385000   98133        NaN         NaN
18       2.0       3.00       1221.0   385000   98133        NaN         NaN

In [314]:
zillowdf.to_csv(path_or_buf='~/Documents/Zillow_KC_listings.csv')

In [216]:
m = list(range(1))
x = 24
t = 13
b = 1
hp = "https://www.redfin.com/county/118/WA/King-County"
for v in m:
    driver.get(hp)
    page_source = driver.page_source
    soup = BeautifulSoup(page_source)
    table = soup.find_all('body')
    if v == 0:
        hp = hp + '/page-' + str(b)
    b = b + 1
    for h in p:
        bedrooms.append(float(soup.find('body').findAll('div')[0].findAll('a')[x].findAll('div')[4].contents[0].replace(' Sq. Ft.', '').replace(',', '').replace(' Beds', '').replace(' Baths', '').replace(' Bed','').replace(' Bath','')))
        bathrooms.append(float(soup.find('body').findAll('div')[0].findAll('a')[x].findAll('div')[5].contents[0].replace(' Sq. Ft.', '').replace(',', '').replace(' Beds', '').replace(' Baths', '').replace(' Bed','').replace(' Bath','')))
        sqft.append(float(soup.find('body').findAll('div')[0].findAll('a')[x].findAll('div')[6].contents[0].replace(' Sq. Ft.', '').replace(',', '').replace(' Beds', '').replace(' Baths', '').replace(' Bed','').replace(' Bath','')))
        x = x + 3
for v in m:
    driver.get(hp)
    page_source = driver.page_source
    soup = BeautifulSoup(page_source)
    table = soup.find_all('body')
    hp = hp + '/page-' + str(b)
    b = b + 1
    for h in p:
        try:
            ex = soup.find('body').findAll('div')[0].findAll('script')[t].text
            _dict = ast.literal_eval(ex)
            price.append(_dict['offers']['price'])
            zipcode.append(_dict['location']['address']['postalCode'])
            lat.append(_dict['location']['geo']['latitude'])
            long.append(_dict['location']['geo']['longitude'])
            t = t + 2
        except:
            lat.append(None)
            long.append(None)
            price.append(_dict[1]['offers']['price'])
            zipcode.append(_dict[0]['address']['postalCode'])
            t = t + 2

In [40]:
rfdf = pd.read_csv("redfin_2020-01-03-09-02-21.csv")

In [33]:
rfdf.columns

Index(['SALE TYPE', 'SOLD DATE', 'PROPERTY TYPE', 'ADDRESS', 'CITY',
       'STATE OR PROVINCE', 'ZIP OR POSTAL CODE', 'PRICE', 'BEDS', 'BATHS',
       'LOCATION', 'SQUARE FEET', 'LOT SIZE', 'YEAR BUILT', 'DAYS ON MARKET',
       '$/SQUARE FEET', 'HOA/MONTH', 'STATUS', 'NEXT OPEN HOUSE START TIME',
       'NEXT OPEN HOUSE END TIME',
       'URL (SEE http://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING)',
       'SOURCE', 'MLS#', 'FAVORITE', 'INTERESTED', 'LATITUDE', 'LONGITUDE'],
      dtype='object')

In [42]:
rfdf = rfdf.drop(['SALE TYPE', 'SOLD DATE', 'PROPERTY TYPE', 'ADDRESS', 'CITY',
       'STATE OR PROVINCE', 'LOCATION', 'LOT SIZE', 'DAYS ON MARKET',
       '$/SQUARE FEET', 'HOA/MONTH', 'STATUS', 'NEXT OPEN HOUSE START TIME',
       'NEXT OPEN HOUSE END TIME', 'URL (SEE http://www.redfin.com/buy-a-home/comparative-market-analysis FOR INFO ON PRICING)',
       'SOURCE', 'MLS#', 'FAVORITE', 'INTERESTED'], axis = 1)

In [43]:
rfdf

,ZIP OR POSTAL CODE,PRICE,BEDS,BATHS,SQUARE FEET,YEAR BUILT,LATITUDE,LONGITUDE
0,98007,530000,3,2.50,1430.0,1969.0,47.596824,-122.141047
1,98030,525000,5,2.75,3060.0,1966.0,47.381374,-122.223471
2,98030,599950,4,2.50,2530.0,2012.0,47.383484,-122.188258
3,98028,710000,4,2.50,2210.0,2003.0,47.776688,-122.239202
4,98092,474950,3,2.50,2242.0,2013.0,47.258114,-122.201669
...,...,...,...,...,...,...,...,...
345,98045,424900,3,1.00,1230.0,1980.0,47.449449,-121.779896
346,98022,59950,0,NaN,NaN,NaN,47.264373,-121.981581
347,98115,1690000,3,2.50,2494.0,1957.0,47.682479,-122.281476
348,98003,89500,3,1.75,1867.0,1980.0,47.271061,-122.300694
349,98105,365000,1,1.00,480.0,1926.0,47.659247,-122.318505

In [44]:
rfdf = rfdf.rename(columns = {'ZIP OR POSTAL CODE' : 'zipcode', 'PRICE' : 'price', 'BEDS' : 'bedrooms', 'BATHS' : 'bathrooms', 'SQUARE FEET' : 'sqft_living', 'YEAR BUILT' : 'yr_built', 'LATITUDE':'lat', 'LONGITUDE':'long'})

In [45]:
rfdf

,zipcode,price,bedrooms,bathrooms,sqft_living,yr_built,lat,long
0,98007,530000,3,2.50,1430.0,1969.0,47.596824,-122.141047
1,98030,525000,5,2.75,3060.0,1966.0,47.381374,-122.223471
2,98030,599950,4,2.50,2530.0,2012.0,47.383484,-122.188258
3,98028,710000,4,2.50,2210.0,2003.0,47.776688,-122.239202
4,98092,474950,3,2.50,2242.0,2013.0,47.258114,-122.201669
...,...,...,...,...,...,...,...,...
345,98045,424900,3,1.00,1230.0,1980.0,47.449449,-121.779896
346,98022,59950,0,NaN,NaN,NaN,47.264373,-121.981581
347,98115,1690000,3,2.50,2494.0,1957.0,47.682479,-122.281476
348,98003,89500,3,1.75,1867.0,1980.0,47.271061,-122.300694
349,98105,365000,1,1.00,480.0,1926.0,47.659247,-122.318505

In [38]:
rfdf.to_csv(path_or_buf='~/Documents/Redfin_KC_listings.csv')